<body style="background-color: #999999;" *ngIf="isDataLoaded">
  <form [formGroup]="editForm" class="login100-form validate-form" (ngSubmit)="onSaveChanges()">
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100"
          style="background: #e3cff3; opacity: 0.7; text-align: center; vertical-align: middle;">
          <br>
          <div><img [src]="profileImage" class="img-circle" style=" width:200px; height: 240px;"></div>
          <br>
          <!-- <input type="file" name="file" id="file" class="inputfile" />  -->
          <input formControlName="file" accept='image/*' id="file" type="file" class="inputfile"
            (change)="onFileChange($event)">
          <label for="file">Change image...</label>
          <br>
          <br>
        </div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-50 p-b-50">
          <div class="container">
            <div class="row" style="width: 100%;">
              <div class="col-md" style="width: 100%;">
                <div class="wrap-input100 validate-input">
                  <span class="label-input100">First name:</span>
                  <div class="input-icons">
                    <input formControlName="firstName" class="input100" type="text" id="firstNameInput"
                      placeholder="First name...">
                    <i id="icon" class="fa fa-pencil-square-o icon-style" aria-hidden="true"
                      (click)="onLogoClick('firstNameInput')"></i>
                    <span class="focus-input100"></span>
                  </div>
                  <span class="invalid-input-span"
                    *ngIf="editForm.get('firstName').invalid && editForm.get('firstName').touched">First name is
                    required</span>
                </div>

                <div formGroupName="passwordData">
                  <div class="wrap-input100 validate-input">
                    <span class="label-input100">Password</span>
                    <div class="input-icons">
                      <show-hide-password size="sm" btnStyle="light" [btnOutline]="false">
                        <input formControlName="password" class="input100" type="password" id="pass"
                          placeholder="*************">
                      </show-hide-password>
                      <!-- <i *ngIf="registerForm.get('passwordData.password').invalid && registerForm.get('passwordData.password').touched"
                        class="fa fa-exclamation"></i> -->
                      <span class="focus-input100"></span>
                    </div>
                    <span class="invalid-input-span"
                      *ngIf="editForm.get('passwordData.password').invalid && editForm.get('passwordData.password').touched && !hasRegExpError('passwordData.password')">Password
                      is required</span>
                    <span class="invalid-input-span"
                      *ngIf="editForm.get('passwordData.password').invalid && editForm.get('passwordData.password').touched && hasRegExpError('passwordData.password')">
                      Password must have minimum eight characters, at least one letter and one number: </span>

                  </div>

                  <div class="wrap-input100 validate-input">
                    <span class="label-input100">Confirm Password</span>
                    <div class="input-icons">
                      <show-hide-password size="sm" btnStyle="light" [btnOutline]="false">
                        <input formControlName="confirm" class="input100" type="password"  id="confirm-pass"
                          placeholder="*************">
                      </show-hide-password>
                      <!-- <i *ngIf="doPasswordsMatch() || (registerForm.get('passwordData.confirm').invalid && registerForm.get('passwordData.confirm').touched)"
                        class="fa fa-exclamation"></i> -->
                      <span class="focus-input100"></span>
                    </div>

                    <span class="invalid-input-span"
                      *ngIf="editForm.get('passwordData.confirm').invalid && editForm.get('passwordData.confirm').touched">Confirm
                      password is required</span>
                    <span class="invalid-input-span"
                      *ngIf="editForm.get('passwordData.confirm').valid && editForm.get('passwordData.password').valid && editForm.get('passwordData').invalid">Passwords
                      do not match.</span>
                  </div>
                </div>
                <div class="wrap-input100 validate-input">
                  <span class="label-input100">Address:</span>
                  <div class="input-icons">
                    <input formControlName="address" class="input100" type="text" id="address" placeholder="Address...">
                    <i id="icon" class="fa fa-pencil-square-o icon-style" aria-hidden="true"
                      (click)="onLogoClick('address')"></i>
                    <span class="focus-input100"></span>
                  </div>
                  <span class="invalid-input-span"
                    *ngIf="editForm.get('address').invalid && editForm.get('address').touched">Address is
                    required</span>
                </div>
              </div>

              <div class="col-md" style="width: 100%;">
                <div class="wrap-input100 validate-input">
                  <span class="label-input100">Last name:</span>
                  <div class="input-icons">
                    <input formControlName="lastName" class="input100" type="text" ID="lastName"
                      placeholder="Last name...">
                    <i id="icon" class="fa fa-pencil-square-o icon-style" aria-hidden="true"
                      (click)="onLogoClick('lastName')"></i>
                    <span class="focus-input100"></span>
                  </div>
                  <span class="invalid-input-span"
                    *ngIf="editForm.get('lastName').invalid && editForm.get('lastName').touched">Last name is
                    required</span>
                </div>

                <div class="wrap-input100 validate-input">
                  <span class="label-input100">Email:</span>
                  <div class="input-icons">
                    <input formControlName="email" class="input100" type="text" id="email" placeholder="Email...">
                    <i id="icon" class="fa fa-pencil-square-o icon-style" aria-hidden="true"
                      (click)="onLogoClick('email')"></i>
                    <span class="focus-input100"></span>
                  </div>
                  <span class="invalid-input-span"
                    *ngIf="editForm.get('email').invalid && editForm.get('email').touched">Email is required</span>
                </div>

                <div class="wrap-input100 validate-input">
                  <span class="label-input100">Phone number</span>
                  <div class="input-icons">
                    <input formControlName="phone" class="input100" ng2TelInput
                      (countryChange)="onCountryChange($event)" type="text" id="phone" placeholder="Phone number">
                    <i id="icon" class="fa fa-pencil-square-o phone-icon-style" aria-hidden="true"
                      (click)="onLogoClick('phone')"></i>
                    <i *ngIf="editForm.get('phone').invalid && editForm.get('phone').touched"
                      class="fa fa-exclamation"></i>
                    <span class="focus-input100"></span>
                  </div>
                  <span class="invalid-input-span"
                    *ngIf="editForm.get('phone').invalid && editForm.get('phone').touched && hasRequiredError('phone')">Phone
                    number is required</span>
                  <span class="invalid-input-span"
                    *ngIf="editForm.get('phone').invalid && editForm.get('phone').touched && hasRegExpError('phone')">Please
                    enter valid phone number</span>
                </div>
              </div>
            </div>
          </div>

          <div class="container-login100-form-btn" style="align-self: center;">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" [disabled]="editForm.invalid">
                Save changes
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</body>
