<div *ngIf="flightReservation!==undefined || !flightReservation.cancelled">
<div class="list-group-item" style="margin-top: 1%; margin-bottom: 1%; cursor: pointer;">
  <div class="row">
    <div class="col" style="width: 100%;padding:0%; margin: 0%;" (click)="open(content)">
      <div class="row" style=" height: 70px;">
        <div class="col-md-2" style=" height: 100%; justify-content: center;">
          <img src={{imgToDisplay}} style="width: 100%; height: 100%;">
        </div>
        <div class="col-md-2" style="height: 100%; text-align: center; align-content: center;">
          <div class="row header justify-content-center align-items-center">Departure:</div>
          <div class="row text justify-content-center align-items-center">{{flightReservation.flights[0].takeOffLocation.code}}</div>
          <div class="row text justify-content-center align-items-center">{{flightReservation.flights[0].takeOffDate}}&nbsp;{{flightReservation.flights[0].takeOffTime}}h</div>
        </div>
        <div class="col-md-2" style="height: 100%; text-align: center; align-content: center;">
          <div class="row header justify-content-center align-items-center">Landing:</div>
          <div class="row text justify-content-center align-items-center">{{flightReservation.flights[0].landingLocation.code}}</div>
          <div class="row text justify-content-center align-items-center">{{flightReservation.flights[0].landingDate}}&nbsp;{{flightReservation.flights[0].landingTime}}h</div>
        </div>
        <div class="col-md-2" style="height: 100%; text-align: center; align-content: center;">
          <div class="row header justify-content-center align-items-center">Passengers:</div>
          <div class="row text justify-content-center align-items-center" style="vertical-align: center;">
            {{flightReservation.passengers.length}}</div>
        </div>
        <div class="col-md-2" style="height: 100%; text-align: center; align-content: center;">
          <div class="row header justify-content-center align-items-center">Car included:</div>
          <div class="row text justify-content-center align-items-center"
            *ngIf="flightReservation.carReservation===null">No</div>
          <div class="row text justify-content-center align-items-center"
            *ngIf="flightReservation.carReservation!==null">Yes</div>
        </div>
        <div class="col-md-2" style="height: 100%; text-align: center; align-content: center;">
          <div class="row header justify-content-center align-items-center">Total price:</div>
          <div class="row text justify-content-center align-items-center">
            {{flightReservation.totalPrice | currency:'EUR'}}</div>
        </div>
      </div>
    </div>
      <div class="col-2" style="height: 100%; text-align: center; align-content: center;">
        <div *ngIf="!flightReservation.airlineRated"
          class="row d-flex justify-content-center align-items-center row-btn-style">
          <button class="btn btn-md btn-rounded button-style " (click)="openRateModal(mymodal,'airline')">Rate
            company</button>
        </div>
        <div *ngIf="!flightReservation.flightRated"
          class="row d-flex justify-content-center align-items-center row-btn-style">
          <button class="btn btn-md btn-rounded button-style " (click)="openRateModal(mymodal,'flight')">Rate
            flight</button>
        </div>
        <div class="row d-flex justify-content-center align-items-center row-btn-style">
          <button class="btn btn-md btn-rounded button-style " (click)="cancelReservation()">Cancel</button>
        </div>
    </div>
  </div>
</div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h6 *ngIf="toRate==='flight'"   class="modal-title" id="modal-basic-title">Add rate for flight </h6>
    <h6 *ngIf="toRate==='airline'" class="modal-title" id="modal-basic-title">Add rate for airline company </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <app-rate-dialog [reservationId]="flightReservation.reservationId" [rateItem]="toRate"></app-rate-dialog>
  </div>
</ng-template>


<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title header" id="modal-basic-title">Reservation details...</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src={{imgToDisplay}} style="width: 100%; height: 150px;">
    <!-- <h6 class="lblStyle header" style="text-align: center;">Airline: <span class="valueStyle text"> {{company.name}}</span></h6> -->
    <br>
    <!-- <label class="lblStyle">Plane: <span class="valueStyle"> {{flight.plane}}</span></label>
        <br>  -->
    <div style="display: inline;">
      <div style="display: inline-block; width: 50%; align-self: center;">
        <h6 class="modal-title header" id="modal-basic-title">Departure:</h6>
        <br>
        <label class="lblStyle header">Airport: <span class="valueStyle text"> {{flightReservation.flights[0].takeOffLocation.code}}&nbsp;
          </span></label><br>
        <label class="lblStyle header">Date: <span class="valueStyle text"> {{flightReservation.flights[0].takeOffDate}}&nbsp;
          </span></label><br>
        <label class="lblStyle header">Time: <span class="valueStyle text"> {{flightReservation.flights[0].takeOffTime}}h &nbsp;
          </span></label>

      </div>
      <div style="display: inline-block; width: 50%; align-self: center;">
        <h6 class="modal-title header" id="modal-basic-title">Landing:</h6>
        <br>
        <label class="lblStyle header">Airport: <span class="valueStyle text"> {{flightReservation.flights[0].landingLocation.code}}&nbsp;
          </span></label><br>
        <label class="lblStyle header">Date: <span class="valueStyle text"> {{flightReservation.flights[0].landingDate}}&nbsp;
          </span></label><br>
        <label class="lblStyle header">Time: <span class="valueStyle text"> {{flightReservation.flights[0].landingTime}}h&nbsp;
          </span></label>

      </div>
    </div>
    <br>
    <br>
    <h6 class="modal-title header" id="modal-basic-title">Passengers:</h6>
    <br>
    <div *ngFor="let passenger of flightReservation.passengers">
      <label class="lblStyle header">First name: <span class="valueStyle text"> {{passenger.firstName}}&nbsp;
        </span></label>
      <br>
      <label class="lblStyle header">Last name: <span class="valueStyle text"> {{passenger.lastName}}&nbsp;
        </span></label>
      <br>
      <label class="lblStyle header">Passport number: <span class="valueStyle text">
          {{passenger.passport}}&nbsp; </span></label>
      <br>
      <label class="lblStyle header">Seat: <span class="valueStyle text"> {{passenger.seats[0].code}}&nbsp; </span></label>

      <hr>
    </div>

    <div *ngIf="flightReservation.carReservation!==null">
      <h6 class="modal-title header" id="modal-basic-title">Cars rented:</h6>
      <br>
      <div >
        <label class="lblStyle header">Rental company: <span class="valueStyle text"> {{flightReservation.carReservation.companyName}}
            &nbsp; </span></label>
        <br>
        <label class="lblStyle header">Car: <span class="valueStyle text">
            {{flightReservation.carReservation.carModel}} &nbsp; </span></label>
        <br>
        <label class="lblStyle header">Pick up: <span class="valueStyle text">
            {{flightReservation.carReservation.pickUpDate}} &nbsp;h
          </span></label>
        <br>
        <label class="lblStyle header">Drop off: <span class="valueStyle text">
            {{flightReservation.carReservation.dropOffDate}} &nbsp;
            {{flightReservation.carReservation.dropOffTime}}h </span></label>
        <br>
      </div>
    </div>

    <br>
    <div style="display: inline-block; width: 50%; align-self: center;">
      <h6 class="modal-title header" id="modal-basic-title">Total price:</h6>
      <span class="valueStyle text"> {{flightReservation.totalPrice | currency:'EUR'}}&nbsp; </span>
    </div>
  </div>


</ng-template>
