
    <div class="list-group-item" style="margin-top: 1%; margin-bottom: 1%;" >
         <div class="row" style=" height: 70px;" >
             <div class="col-md-2" style=" height: 100%; justify-content: center;">
                 <img  src={{car.images[0]}} style="width: 100%; height: 100%;">
             </div>
             <div class="col-md-3" style="height: 100%; text-align: center; align-content: center;">
                <div class="row header" >Rental company:</div>
                 <div class="row text" >{{company.name}}</div>
                 <div class="row text" >{{company.address}}</div>
             </div>
             <div class="col-md-2" style="height: 100%; text-align: center; align-content: center;">
                <div class="row header" >Pick up:</div>
                <div class="row text" >{{reservation.startDate}}</div>
                <div class="row text" >{{reservation.pickUpTime}}h</div>
            </div>
            <div class="col-md-2" style="height: 100%; text-align: center; align-content: center;">
                <div class="row header" >Drop off:</div>
                <div class="row text" >{{reservation.returnDate}}</div>
                <div class="row text" >{{reservation.returnTime}}h</div>
            </div>
            <div class="col-md-1" style="height: 100%; text-align: center; align-content: center;">
                <div class="row header" >Total price:</div>
                <div class="row text" >{{reservation.price | currency:'EUR'}}</div>
            </div>
            <div class="col-md-2" style="height: 100%; text-align: center; align-content: center;">
                <div class="row d-flex justify-content-center align-items-center">
                    <button class="btn btn-md btn-rounded button-style" >Cancel</button>
                </div>
            </div>
         </div>
    </div>