<div class="list-group-item" style="margin-top: 1%; margin-bottom: 1%;">
  <div class="row" style=" height: 100px;">
    <div class="col-md-2" style=" height: 100%; justify-content: center;">
      <img src={{car.images[0]}} style="width: 100%; height: 100%;">
    </div>
    <div class="col-md-3" style="height: 100%; text-align: center; align-content: center;">
      <div class="row header">Rental company:</div>
      <div class="row text">{{company.name}}</div>
      <div class="row text">{{company.address}}</div>
    </div>
    <div class="col-md-1" style="height: 100%; text-align: center; align-content: center;">
      <div class="row header">Pick up:</div>
      <div class="row text">{{reservation.startDate}}</div>
      <div class="row text">{{reservation.pickUpTime}}h</div>
    </div>
    <div class="col-md-1" style="height: 100%; text-align: center; align-content: center;">
      <div class="row header">Drop off:</div>
      <div class="row text">{{reservation.returnDate}}</div>
      <div class="row text">{{reservation.returnTime}}h</div>
    </div>
    <div class="col-md-1" style="height: 100%; text-align: center; align-content: center;">
      <div class="row header">Total price:</div>
      <div class="row text">{{reservation.price | currency:'EUR'}}</div>
    </div>
    <div  class="col-md-1" style="height: 100%; text-align: center; align-content: center;">
      <div class="row header">Comp rate:</div>
      <div *ngIf="reservation.companyRate!=-1" class="row text">{{reservation.companyRate }}</div>
      <div *ngIf="reservation.companyRate===-1" class="row text">No rate</div>
    </div>
    <div  class="col-md-1" style="height: 100%; text-align: center; align-content: center;">
      <div  class="row header">Car rate:</div>
      <div *ngIf="reservation.carRate!=-1"  class="row text">{{reservation.carRate}}</div>
      <div *ngIf="reservation.carRate===-1" class="row text">No rate</div>
    </div>
    <div class="col-md-2" style="height: 100%; text-align: center; align-content: center;">
      <div *ngIf="reservation.companyRate===-1 && canRate"
        class="row d-flex justify-content-center align-items-center row-btn-style">
        <button class="btn btn-md btn-rounded button-style" (click)="open(mymodal,'carCompany')">Rate company</button>
      </div>
      <div *ngIf="reservation.carRate===-1 && canRate"
        class="row d-flex justify-content-center align-items-center row-btn-style">
        <button class="btn btn-md btn-rounded button-style" (click)="open(mymodal,'car')">Rate car</button>
      </div>
      <div class="row d-flex justify-content-center align-items-center row-btn-style">
        <button class="btn btn-md btn-rounded button-style">Cancel</button>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <app-rate-dialog [reservationId]="reservation.id" [vehicleId]="reservation.carId" [companyId]="reservation.companyId" [rateItem]="toRate"></app-rate-dialog>
  </div>
</ng-template>
