<div class="row" style="width: 50%; margin-left: 35%;">
  <h3>Change password</h3>
  <br>
  <p>Please change your password in order to have full permission to our </p>
  <p class="p2">services, otherwise you will not be able to log in.</p>
  <div [formGroup]="passwordForm" style="margin-left: 5%;">
    <div class="wrap-input100 validate-input">
      <span class="label-input100">Password</span>
      <div class="input-icons">
        <show-hide-password size="sm" btnStyle="light" [btnOutline]="false">
          <input formControlName="password" class="input100" type="password" name="pass"
            placeholder="*************">
        </show-hide-password>
        <span class="focus-input100"></span>
      </div>
      <span class="invalid-input-span"
        *ngIf="passwordForm.get('password').invalid && passwordForm.get('password').touched && !hasRegExpError('password')">Password
        is required</span>
      <span class="invalid-input-span"
        *ngIf="passwordForm.get('password').invalid && passwordForm.get('password').touched && hasRegExpError('password')">
        Password must have minimum eight characters, at least one letter and one number: </span>
    </div>

    <div class="wrap-input100 validate-input">
      <span class="label-input100">Confirm Password</span>
      <div class="input-icons">
        <show-hide-password size="sm" btnStyle="light" [btnOutline]="false">
          <input formControlName="confirm" class="input100" type="password" name="confirm-pass"
            placeholder="*************">
        </show-hide-password>
        <span class="focus-input100"></span>
      </div>

      <span class="invalid-input-span"
        *ngIf="passwordForm.get('confirm').invalid && passwordForm.get('confirm').touched">Confirm
        password is required</span>
      <span class="invalid-input-span"
        *ngIf="passwordForm.get('confirm').valid && passwordForm.get('password').valid && passwordForm.invalid">Passwords
        do not match.</span>
    </div>
    <div class="container-login100-form-btn" style="margin-left: 13%;">
      <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn" ></div>
        <button class="login100-form-btn" (click)="onPasswordSubmit()" [disabled]="passwordForm.invalid || requestSent" >
          Submit
        </button>
      </div>
    </div>
  </div>

