.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 45px;
}

.label-input100 {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;
  padding-left: 2px;
}



.invalid-input-span{
  font-size: 12px;
  color:  red;
  position: absolute;
  margin-top:2%;
}


i{
  margin-top: 3%;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  color: red;

}

.icon {
  padding: 10px;
  text-align: center;
  width: 20px;
  height: 20px;

}

.input100 {
  width: 80%;
  padding: 10px;
  text-align: left;
  display: inline-block;
  height: 40px;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 22px;
  color: #555555;
  line-height: 1.2;
  padding: 0 2px;
}


.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #be72df;
  background: -webkit-linear-gradient(45deg, #be72df,#361255);
  background: -o-linear-gradient(45deg, #be72df,#361354);
  background: -moz-linear-gradient(45deg, #be72df,#361354);
  background: linear-gradient(45deg, #be72df,#361354);
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

h3{
  text-align: center;
  justify-content: center;
  align-self: center;
  color: #361354;
}

p{
  margin-left: -5%;
}

.p2{
  margin-top: -2%;
  margin-left: 4% !important;
  color: #361354;
}

.container-login100-form-btn {
  width: 100%;
  margin-left: 24%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.wrap-login100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  /* border-color: transparent; */
  overflow: hidden;
}


.login100-form-bgbtn {
  position: absolute;
  width: 100%;
  height: 300%;
  bottom: -100%;
  left: 0;

  background: linear-gradient(to right, #eea136, #7e4596, #f0a63f);
	z-index: -1;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;

}
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:disabled{
  background-color: lightgrey;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  bottom: 0;
}
