
<ngx-spinner type='ball-spin-clockwise-fade' color="#eea136">
  <p style="font-size: 20px; color: white ; padding-top: 25%;">Loading...</p>
</ngx-spinner>
<div class="my-heading-div">
    <div class="d-flex justify-content-end">
      <button class="btn  btn-md btn-rounded button-style"
      routerLink="/add-flight">Add flight</button>
      </div>
    <h4>Flights</h4>
  </div>
  <div *ngIf="!isSpinning">
    <p *ngIf="flights.length===0"><ngb-alert [dismissible]="false" style="width: 70%; text-align: center;margin-left: 15%;"><strong>Notice!</strong> There are no flights still. Please add flights first!</ngb-alert></p>
    <app-admin-flight-list [flights]="flights" *ngIf="flights.length!==0 && flights!==undefined" ></app-admin-flight-list>
  </div>
  