<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>

<ngx-spinner type='ball-spin-clockwise-fade' color="#eea136">
  <p style="font-size: 20px; color: white ; padding-top: 25%;">Loading...</p>
</ngx-spinner>
<div *ngIf="(cars===undefined ||cars.length===0 ) && !isSpining">
  <h3 style="margin-bottom: 500px;">We haven't found any cars for you...</h3>
</div>

 <div *ngIf="cars.length!==0 && !isSpining" class="container" style="margin-bottom: 3%;">
  <div class="row" style="width: 80%;margin-left: 10%;"  >
    <div *ngFor="let car of cars; index as i" style="width: 25%;">
      <div class="card " style="width: 100%; height: 100%;">
        <div class="container c1">
          <img class="card-img-top main-image-style" [src]="car.image" alt="My image {{i + 1}} description">
          <div class="text-block" *ngIf="car.rate!=-1">
            <p  style="margin-top:-25%">{{car.rate}}</p>
          </div>
        </div>

        <div class="card-body" style="margin-top: 0%;">
          <h4 class="card-title font-weight-bold h-style" >{{car.brand}}&nbsp;{{car.model}}&nbsp;{{car.year}}</h4>
            <div class="row justify-content-center">
              <div class="col" >
                <div class="row" >
                  <img src="../../../assets/images/team.png" class="icon-style">
                  <label  class="label-style"  style="font-size: 12px;" >&nbsp;&nbsp;{{car.passengersNumber}}&nbsp;passengers</label>
                </div>
                <div class="row">
                  <img src="../../../assets/images/gearshift.png" class="icon-style">
                  <label *ngIf="car.hasAutomationGearbox"  class="label-style" > &nbsp;&nbsp;A&nbsp;&nbsp;gearbox</label>
                  <label  *ngIf="!car.hasAutomationGearbox"  class="label-style" > &nbsp;&nbsp;M&nbsp;&nbsp;gearbox</label>
                </div>
               </div>

              <div class="col" style="align-content: center;">
                <div class="row" style="justify-content: center;">
                  <img src="../../../assets/images/car-door.png" class="icon-style">
                  <label class="label-style" style="font-weight:500">&nbsp;&nbsp;{{car.doors}}&nbsp;&nbsp;doors</label>
                </div>
                <div class="row" style="justify-content: center;" *ngIf="car.hasAirCondition">
                  <img src="../../../assets/images/freezer.png" class="icon-style">
                  <label class="label-style" >&nbsp;&nbsp;Air condition</label>
                </div>
              </div>
            </div>
          <div  class="d-flex justify-content-center">
            <ngb-rating *ngIf="car.rate!=-1" [rate]="car.rate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
            <p *ngIf="car.rate===-1" style="text-align: center;font-size: smaller;margin-top: 0px;margin-bottom: 0px; color: orange;" ><b>No rates yet.</b></p>
          </div>
          <p *ngIf="!searched" style="text-align: center;margin-top: 10px;font-size: smaller;" >price from</p>
          <p *ngIf="!searched" class="price">{{car.price | currency:'EUR'}}</p>
          <p *ngIf="searched" style="text-align: center;margin-top: 10px;font-size: smaller;" >price</p>
          <p *ngIf="searched" class="price">{{car.price*rentDays | currency:'EUR'}}</p>
          <button [hidden]="!searched"  class="btn  btn-md btn-rounded button-style" style="display: block;width: 100%;"  (click)="open(mymodal) ; currentCar=car" >Rent</button>
          <button [hidden]="notFlightRes" class="btn btn-md btn-rounded button-style" style="display: block;width: 100%;"  [routerLink]="'create-car-reservation/'+car.id">Rent</button>
        </div>

      </div>
    </div>
  </div>
  </div>


  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Confirm reservation</h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <label class="lblStyle">Car: <span class="valueStyle"> {{currentCar.brand}}&nbsp;{{currentCar.model}} </span></label>
      <br>
      <label class="lblStyle">Rent a car company: <span class="valueStyle"> {{currentCar.companyName}}</span></label>
      <br>
      <label class="lblStyle">Pick up location: <span class="valueStyle"> {{params['pickUpLocation']}},&nbsp;{{params['pickUpTime']}} </span></label>
      <br>
      <label class="lblStyle">Pick up date:<span class="valueStyle">  {{params['pickUpDate']}},&nbsp;{{params['pickUpTime']}}</span></label>
      <br>
      <label class="lblStyle">Drop off location:<span class="valueStyle">  {{params['dropOffLocation']}}</span></label>
      <br>
      <label class="lblStyle">Drop off date:<span class="valueStyle">  {{params['dropOffDate']}}&nbsp;&nbsp;{{params['dropOffTime']}}</span></label>
      <br>
      <label class="lblStyle">Total price: <span class="valueStyle"> {{currentCar.price*(rentDays===0?1:rentDays) | currency:'EUR' }}</span></label>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn confirmBtnStyle" (click)="makeReservation();modal.close('Save click')">Confirm</button>
    </div>
  </ng-template>



