@{
    ViewData["Title"] = " Travellix - Invitation has already been declined";
}
@{
    //ViewData["Title"] = "Techhowdy - Reservation Confirmation";
}

<div class="d-flex justify-content-center">
    <div class="card" style="width:40%">
        <div class="box" style="margin:5%">
            <h2>Invitation has already been declined!</h2>
        </div>
    </div>
</div>