@{
    ViewData["Title"] = " Travellix - Invitation declined";
}
@{
    ViewData["Title"] = "Techhowdy - Invitation declined";
}

<div class="d-flex justify-content-center">
    <div class="card" style="width:40%">
        <div class="box" style="margin:5%">
            <h2>Thank You!<br><br /><span>Your invitation has been declined.</span></h2>
        </div>
    </div>
</div>
