@{
    ViewData["Title"] = " Travellix - Reservation hasn't been confirmed";
}
@{
    //ViewData["Title"] = "Techhowdy - Reservation Confirmation";
}

<div class="d-flex justify-content-center">
    <div class="card" style="width:40%">
        <div class="box" style="margin:5%">
            <h2>It is possible to confirm or decline invitation only in period of 3 days from the date when created or 2 hours before departure time!</h2>
        </div>
    </div>
</div>
