@{
    ViewData["Title"] = " Travellix - Reservation Confirmed";
}
@{
    ViewData["Title"] = "Techhowdy - Reservation Confirmation";
}

    <div class="d-flex justify-content-center">
        <div class="card" style="width:40%">
            <div class="box" style="margin:5%">
                <h2>Thank You!<br><br /><span>Your reservtion has been confirmed successfuly.</span></h2>
                </div>
            </div>
        </div>
