<div class="d-flex justify-content-center">
  <h3>Set discount for bonus points</h3>
</div>
<div class="container" [formGroup]="discountsForm">
  <div class="d-flex justify-content-center wrap-input">
    <span class="my-span">1 - 150 points&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <input formControlName="firstDiscount" class="num-input" type="number" placeholder="Discount (%)">
    <span *ngIf="discountsForm.get('firstDiscount').invalid && discountsForm.get('firstDiscount').errors.required" class="invalid-span">Field should not be empty.</span>
    <span *ngIf="discountsForm.get('firstDiscount').invalid && discountsForm.get('firstDiscount').errors.min" class="invalid-span">Value should not be lower than 0.</span>
    <span *ngIf="discountsForm.get('firstDiscount').invalid && discountsForm.get('firstDiscount').errors.max" class="invalid-span">Value should not be greater than 0.</span>
  </div>
  <div class="d-flex justify-content-center wrap-input">
    <span class="my-span">151 - 300 points</span>
    <input formControlName="secondDiscount" class="num-input" type="number" placeholder="Discount (%)">
    <span *ngIf="discountsForm.get('secondDiscount').invalid && discountsForm.get('secondDiscount').errors.required" class="invalid-span">Field should not be empty.</span>
    <span *ngIf="discountsForm.get('secondDiscount').invalid && discountsForm.get('secondDiscount').errors.min" class="invalid-span">Value should not be lower than 0.</span>
    <span *ngIf="discountsForm.get('secondDiscount').invalid && discountsForm.get('secondDiscount').errors.max" class="invalid-span">Value should not be greater than 0.</span>
  </div>
  <div class="d-flex justify-content-center wrap-input">
    <span class="my-span">301 - 450 points</span>
    <input formControlName="thirdDiscount" class="num-input" type="number" placeholder="Discount (%)">
    <span *ngIf="discountsForm.get('thirdDiscount').invalid && discountsForm.get('thirdDiscount').errors.required" class="invalid-span">Field should not be empty.</span>
    <span *ngIf="discountsForm.get('thirdDiscount').invalid && discountsForm.get('thirdDiscount').errors.min" class="invalid-span">Value should not be lower than 0.</span>
    <span *ngIf="discountsForm.get('thirdDiscount').invalid && discountsForm.get('thirdDiscount').errors.max" class="invalid-span">Value should not be greater than 0.</span>
  </div>
  <div class="d-flex justify-content-center wrap-input">
    <span class="my-span">451 + points&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <input formControlName="fourthDiscount" class="num-input" type="number" placeholder="Discount (%)">
    <span *ngIf="discountsForm.get('fourthDiscount').invalid && discountsForm.get('fourthDiscount').errors.required" class="invalid-span">Field should not be empty.</span>
    <span *ngIf="discountsForm.get('fourthDiscount').invalid && discountsForm.get('fourthDiscount').errors.min" class="invalid-span">Value should not be lower than 0.</span>
    <span *ngIf="discountsForm.get('fourthDiscount').invalid && discountsForm.get('fourthDiscount').errors.max" class="invalid-span">Value should not be greater than 0.</span>
  </div>
  <div class="d-flex justify-content-center">
    <div class="container-login100-form-btn">
      <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn"></div>
        <button class="login100-form-btn" (click)="onSave()" [disabled]="discountsForm.invalid">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
