h3{
  margin-top: 3%;
  margin-bottom: 5%;
}
.star {
  position: relative;
  display: inline-block;
  font-size: 300%;
  color: #d3d3d3;
}
.full {
  color: #eea136;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color:#eea136;
}
