
h4{
  padding-top: 2%;
  margin-bottom: 3%;
  font-family: Poppins-Bold;
  font-size: 22px;
  text-align: center;
  color:rgb(75, 74, 74);
}

.my-heading-div{
  background-color: whitesmoke;
  padding-bottom: 1%;
}
