<div class="plane" style="width: 30%; text-align: center;">

    <div class="exit exit--front fuselage">
        
    </div>

    <div class="cabin fuselage" >
      <div *ngIf="firstRows.length!==0 && firstRows!==undefined">
        <div style="text-align: center; font-weight: bold; color: #31124b;" >FIRST CLASS</div>
        <div class="row"  *ngFor="let seats of firstRows">
          <div class="col" *ngFor="let seat of seats" class="seat" style="text-align: center;">
            <input (click)="seatAction(seat)" type="checkbox" [disabled]="booked?.includes(seat)" [checked]="toBeAdded?.includes(seat)" [id]="seat" />
            
              <label [for]="seat">{{seat}}</label>
          </div>
        </div>
      </div>

      <div *ngIf="businessRows.length!==0 && businessRows!==undefined">
        <div style="text-align: center; font-weight: bold; color: #31124b;" >BUSINESS CLASS</div>
        <div class="row"  *ngFor="let seats of businessRows">
          <div class="col" *ngFor="let seat of seats" class="seat">
            <input   (click)="seatAction(seat)" type="checkbox" [disabled]="booked?.includes(seat)" [checked]="toBeAdded?.includes(seat)" [id]="seat" />
            
              <label [for]="seat">{{seat}}</label>
          </div>
        </div>
      </div>

      <div class="exit exit--front " *ngIf="firstRows.length!==0 && firstRows!==undefined && businessRows.length!==0 && businessRows!==undefined">
        
      </div>

      <div *ngIf="premiumRows.length!==0 && premiumRows!==undefined">
        <div style="text-align: center; font-weight: bold; color: #31124b;" >PREMIUM ECONOMY</div>
        <div class="row"  *ngFor="let seats of premiumRows">
          <div class="col" *ngFor="let seat of seats" class="seat">
            <input  (click)="seatAction(seat)" type="checkbox" [disabled]="booked?.includes(seat)" [checked]="toBeAdded?.includes(seat)" [id]="seat" />
              <label [for]="seat">{{seat}}</label>
          </div>
        </div>
      </div>

      <div *ngIf="economyRows.length!==0 && economyRows!==undefined">
        <div style="text-align: center; font-weight: bold; color: #31124b;">ECONOMY CLASS</div>
        <div class="row"  *ngFor="let seats of economyRows">
          <div class="col" *ngFor="let seat of seats" class="seat">
            <input  (click)="seatAction(seat)" type="checkbox" [disabled]="booked?.includes(seat)" [checked]="toBeAdded?.includes(seat)" [id]="seat" />
            <label [for]="seat">{{seat}}</label>
         </div>
        </div>
      </div>
    </div>
  <div class="exit exit--back fuselage">

</div>