.nav-style{
  margin-top: 90%;
}

.nav-link{
  text-align: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  margin-bottom: 10%;
}
.nav-link:active{
  color: #f0b15a;
  background-color: #7d589b;
}

.active-link{
  color: #f0b15a;
  background-color: #7d589b;
}
