<div class="container-style">
  <div class="row" class="header-row-style">
    <img src="../../../assets/images/usersroles.png">
    <h4 style="display: inline-block;">Manage users</h4>
    <button class="btn btn-rounded btn-md add-btn" routerLink="/add-user">Add an administartor</button>
  </div>
  <table class="table" class="table-style">
    <thead class="thead">
      <tr>
        <th scope="col" class="header-style">USERNAME</th>
        <th scope="col" class="header-style">FIRST NAME</th>
        <th scope="col" class="header-style">LAST NAME</th>
        <th scope="col" class="header-style">EMAIL</th>
        <th scope="col" class="header-style">ROLE</th>
        <th scope="col" class=" header-style last-header-style"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td class="td-last">
          <button class="btn  btn-md btn-rounded btn-info" >Show info</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
