<div class="container fill_height" >
    <div class="search_tabs_container">
        <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start" routerLink="home/search-cars" ><img src="../../assets/images/car.png" style="width:40px;height:40px" alt="">car rentals</div>
            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="../../assets/images/departure.png" alt="">flights</div>
        </div>
    </div>
</div>

