.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}
.full {
  color: #eea136;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color:#eea136;
}

.my-p-style{
  color: #5f5b5b;
  font-style: italic;
  margin-top:8%
}

.my-h5-style{
  font-size: 26px;
  font-weight: 700;
  font-family: Verdana;
}

.item-style{
  border:0px;
  display: flex;
  padding: 8%;
}

.icon-style{
  width: 17%;
  height: 35%;
}

.button-style{
  background-color:  #eea136;
  color: white;
  border-color: #eea136;
  height: 20%;
  font-weight: 500;
  font-size: larger;
}
