.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}
.full {
  color: #eea136;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color:#eea136;
}

.my-p-style{
  color: #5f5b5b;
  font-style: italic;
  margin-top:8%
}

.my-h5-style{
  font-size: 26px;
  font-weight: 700;
  font-family: Verdana;
}

.item-style{
  border:0px;
  display: flex;
  padding: 8%;
}

.icon-style{
  width: 17%;
  height: 35%;
}

.button-style{
  background-color:  #eea136;
  color: white;
  border-color: #eea136;
  height: 20%;
  font-weight: 500;
  font-size: larger;
}
.lbl-style{
  display: block;
  font-family: Poppins-Medium;
}

.valueStyle{
  font-weight: bold;
  padding-left: 3px;
}

.confirmBtnStyle{

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 244px;
    height: 50px;

    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    background: #31124b;

    border-width: 0cm;
    border-radius: 10px;
  }

  .confirmBtnStyle:hover
  {
    opacity: 0.8;
  }

