<div class="my-heading-div">
  <h4>Company main data</h4>
</div>
<div class="container container-style" [formGroup]="dataForm">
  <div class="row">
    <div class="col" style="margin-left: 1%;">
      <div class="row">
        <div class="wrap-input100">
          <span class="label-input100">Name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <input class="input100 input-margin" formControlName="name" type="text">
          <i class="fa fa-pencil-square-o icon-style" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div class="wrap-input100 ">
          <span class="label-input100">Address :</span>
          <input class="input100 input-margin" formControlName="address" type="text">
          <i class="fa fa-pencil-square-o icon-style" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col" style="margin-left: 10%;">
      <div class="row">
        <div class="wrap-input100 ">
          <span class="label-input100">Logo :</span>
          <img class="logo-img" [src]="imgPreview" *ngIf="imgPreview!=undefined">
        </div>
        <div class="row">
          <div class="wrap-input100 ">
            <span class="label-logo">Change logo:</span>
            <input formControlName="file" accept='image/*' id="file" type="file" class="input100-logo"
              (change)="onFileChange($event)">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="height: 100px;">
    <div class="col-sm-2">
      <span class="label-input100" style="margin-left: 11%;">Description :</span>
    </div>
    <div class="col">
      <textarea class="input100" formControlName="description"
        style="width: 92%; height: 100%; margin-left: -3%; resize: none;" type="text"></textarea>
      <i class="fa fa-pencil-square-o icon-style" aria-hidden="true"></i>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="margin-top: 2%;margin-bottom: 5%;">
    <div class="container-form-btn" style="align-self: center;">
      <div class="wrap-form-btn">
        <div class="form-bgbtn"></div>
        <button class="form-btn" [disabled]="dataForm.invalid || !dataForm.dirty" (click)="editCompanyData()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
