<div class="container">
  <div class="row" class="first-row">
    <h3>
      Haven't added your company data yet?</h3>
    <h3>Do it now in couple of steps . . .</h3>
  </div>
  <div class="row" class="second-row">
    <div class="container-login100-form-btn">
      <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn"></div>
        <button class="login100-form-btn" routerLink="/add-company">
          Add company
        </button>
      </div>
    </div>
  </div>
</div>
