<div class="div-body-style" id='container'>
  <div class="my-heading-div">
    <div class="d-flex justify-content-end">
      <button class="btn  btn-md btn-rounded button-style"
        style="display: block;width: 15%; margin-top: 1%; margin-right: 3%;" routerLink='/addCar'>Add new car</button>
    </div>
    <h4>Cars</h4>
  </div>

  <ngx-spinner type='ball-spin-clockwise-fade' color="#eea136">
    <p style="font-size: 20px; color: white ; padding-top: 25%;">Loading...</p>
  </ngx-spinner>

  <div class="container" *ngIf="carsEmpty() && !isLoading">
    <div class="row" class="row-style">
      <h3> No cars added.</h3>
      <h3> Click add button in left corner to add first car. </h3>
    </div>
  </div>
  <div class="container" style="margin-top: 3%;" *ngIf="!carsEmpty() && !isLoading">
    <div class="row" style="width: 70%;margin-left: 15%;">
      <div *ngFor="let car of cars; index as i" style="width: 25%;">
        <div class="card " style="width: 100%; height: 100%;">
          <div class="container c1">
            <img class="card-img-top main-image-style" [src]="car.image" alt="My image {{i + 1}} description">
            <div class="text-block">
              <p *ngIf="car.rate!=-1" style="margin-top:-25%">{{car.rate}}</p>
              <p *ngIf="car.rate===-1" style="margin-top:-5%">No any rates yet.</p>
            </div>
          </div>

          <div class="card-body" style="margin-top: -10%;">
            <h4 class="card-title font-weight-bold h-style">{{car.brand}}&nbsp;{{car.model}}</h4>
            <div class="row justify-content-center">
              <div class="col">
                <div class="row">
                  <img src="../../../assets/images/team.png" class="icon-style">
                  <label class="label-style"
                    style="font-size: 12px;">&nbsp;&nbsp;{{car.passengersNumber}}&nbsp;passengers</label>
                </div>
                <div class="row">
                  <img src="../../../assets/images/gearshift.png" class="icon-style">
                  <label *ngIf="car.hasAutomationGearbox" class="label-style"> &nbsp;&nbsp;A&nbsp;&nbsp;gearbox</label>
                  <label *ngIf="!car.hasAutomationGearbox" class="label-style"> &nbsp;&nbsp;M&nbsp;&nbsp;gearbox</label>
                </div>
              </div>

              <div class="col" style="align-content: center;">
                <div class="row" style="justify-content: center;">
                  <img src="../../../assets/images/car-door.png" class="icon-style">
                  <label class="label-style" style="font-weight:500">&nbsp;&nbsp;{{car.doors}}&nbsp;&nbsp;doors</label>
                </div>
                <div class="row" style="margin-top: 3%;" *ngIf="car.hasAirCondition">
                  <img src="../../../assets/images/freezer.png" class="icon-style">
                  <label class="label-style">&nbsp;&nbsp;Air condition</label>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <p style="margin-top: 8px;font-size: smaller;">Price: <b>{{car.price | currency:'EUR'}}</b> </p>
            </div>
            <button class="btn  btn-md btn-rounded button-style" style="display: block;width: 100%;"
              (click)="openChangePrice(changePriceModal) ; currentCar=car">Change price</button>
            <button class="btn  btn-md btn-rounded button-style" style="display: block;width: 100%; margin-top: 1%;"
              (click)="currentCar=car;openAddDiscount(addDiscountModal)">Add discount</button>
            <button class="btn  btn-md btn-rounded button-style" style="display: block;width: 100%; margin-top: 1%;"
              (click)="currentCar=car;openRemoveDiscount(removeDiscountModal)">Remove discount</button>
            <button class="btn  btn-md btn-rounded button-style" style="display: block;width: 100%; margin-top: 1%;"
              (click)="deleteCar(car) ">Delete car</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #changePriceModal let-modal >
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title-cpm">Change price for {{currentCar.brand}}&nbsp;{{currentCar.model}}
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" [formGroup]="changePriceForm">
    <label class="lblStyle">Current price: <span class="valueStyle">
        {{currentCar.price| currency:'EUR'}}</span></label>
    <br>
    <br>
    <label class="lblStyle">New price: </label>
    <input class="modal-input" formControlName="newPrice" type="number">
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="changePriceForm.invalid" class="btn confirmBtnStyle"
      (click)="modal.close('Save click'); changePrice()">Confirm</button>
  </div>
</ng-template>

<ng-template #addDiscountModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title-adm">Add discount for {{currentCar.brand}}&nbsp;{{currentCar.model}}
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body"  [formGroup]="addDiscountForm">
    <label class="lblStyle">Discount (%) : </label>
    <input class="modal-input" formControlName="discount" type="number">
    <pre class="lblStyle">Price without discount: {{currentCar.price|currency:'EUR' }} </pre>
    <pre *ngIf="addDiscountForm.valid"
      class="lblStyle">Price with discount: {{getDiscountPrice()|currency:'EUR' }} </pre>
    <br>
    <label class="lblStyle"><b>Select dates for discount :</b> </label>
    <br>

    <!-- <label class="noteStyle"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><b>Note: You can remove discount by setting discount value to 0% and then selecting dates that are already on discount.</b></label> -->
    <ngb-datepicker #dp (dateSelect)="onSelectDate($event)"  [displayMonths]="2" [dayTemplate]="t"
      outsideDays="hidden"  >
    </ngb-datepicker>

    <ng-template #t let-date let-focused="focused"  >
      <span class="custom-day" [class.focused]="focused"
      [class.faded]="isInside(date)" (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null" [class.hasDiscount]="isAlreadyOnDiscount(date)!=null && !isInside(date)" >
      {{ date.day }}
    </span>
    <pre *ngIf="isAlreadyOnDiscount(date)!=null && !isInside(date)" style="font-size: 8px; color: #31124b; font-weight: bolder; margin-top: -50%; text-align: center; justify-content: center;">{{isAlreadyOnDiscount(date)}}%</pre>
    </ng-template>

    <hr>
    <b style="font-size: 14px;">Selected dates:&nbsp;</b><br/>
    <div >

      <ng-container *ngFor="let date of datesSelected;let i=index">
        <br *ngIf="i%6===0 && i!=0"/>
      <label style="font-size: smaller;" > {{date}}&nbsp;&nbsp;&nbsp;</label>

    </ng-container>
    </div>


    <div class="modal-footer">
      <button type="button" [disabled]="addDiscountForm.invalid || datesSelected.length===0" class="btn confirmBtnStyle"
        (click)="modal.close('Save click'); addDiscount()">Confirm</button>
    </div>
  </div>
</ng-template>

<ng-template #removeDiscountModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title-adm">Remove discounts for {{currentCar.brand}}&nbsp;{{currentCar.model}}
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="lblStyle"><b>Select dates that are on discount to remove discount :</b> </label>
    <br>

    <label class="noteStyle"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><b>Note: If you select date that has no discount defined it will be ignored.</b></label>
    <ngb-datepicker #dp (dateSelect)="onRemoveDate($event)"  [displayMonths]="2" [dayTemplate]="t"
      outsideDays="hidden"  >
    </ngb-datepicker>

    <ng-template #t let-date let-focused="focused"  >
      <span class="custom-day" [class.focused]="focused"
      [class.faded]="isInside(date)" (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null" [class.hasDiscount]="isAlreadyOnDiscount(date)!=null && !isInside(date)" >
      {{ date.day }}
    </span>
    <pre *ngIf="isAlreadyOnDiscount(date)!=null && !isInside(date)" style="font-size: 8px; color: #31124b; font-weight: bolder; margin-top: -50%; text-align: center; justify-content: center;">{{isAlreadyOnDiscount(date)}}%</pre>
    </ng-template>

    <hr>
    <b style="font-size: 14px;">Selected dates:&nbsp;</b><br/>
    <div >

      <ng-container *ngFor="let date of datesSelected;let i=index">
        <br *ngIf="i%6===0 && i!=0"/>
      <label style="font-size: smaller;" > {{date}}&nbsp;&nbsp;&nbsp;</label>

    </ng-container>
    </div>


    <div class="modal-footer">
      <button type="button" [disabled]="datesSelected.length===0" class="btn confirmBtnStyle"
        (click)="modal.close('Save click'); removeDiscount()">Confirm</button>
    </div>
  </div>
</ng-template>
