<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>

<a class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <img src={{car.image}} style="width: 100%;height:140px;vertical-align: center;">
      </div>
      <div class="row">
        <h4 style="color:black; font-weight: 600; font-size: 22px;margin-left: 35%;">
          {{car.price*(daysBetween===0?1:daysBetween) | currency:'EUR'}}</h4>
      </div>
    </div>
    <div class="col" style="margin-left: 3%;">
      <h5 class="mb-1 my-h5-style">{{car.brand}}&nbsp;{{car.model}}&nbsp;{{car.year}}</h5>
      <div class="row" style="margin-left: 3%;margin-top: -5%;">
        <p class="mb-1 my-p-style">Company name: {{car.companyName}}</p>
      </div>
      <br>
      <div class="row" style="margin-left: 2%; margin-top: 0%;">
        <div class="col">
          <div class="row">
            <img src="../../../assets/images/team.png" class="icon-style">
            <label style="font-weight: bolder;">&nbsp;&nbsp;{{car.passengersNumber}}&nbsp;&nbsp;</label>
            <label style="font-weight: 500; font-size: 14px;">passengers</label>
          </div>
          <div class="row">
            <img src="../../../assets/images/gearshift.png" class="icon-style">
            <label *ngIf="car.hasAutomationGearbox" style="font-weight: bolder;margin-top: 3%;">
              &nbsp;&nbsp;A&nbsp;&nbsp;</label>
            <label *ngIf="!car.hasAutomationGearbox" style="font-weight: bolder;margin-top: 3%;">&nbsp;&nbsp;M</label>
            <label style="margin-top: 3%; font-weight: 500;">gearbox</label>
          </div>
        </div>

        <div class="col" style="margin-left: 3%;">
          <div class="row">
            <img src="../../../assets/images/car-door.png" class="icon-style">
            <label style="font-weight: bolder;">&nbsp;&nbsp;{{car.doors}}&nbsp;&nbsp;</label>
            <label style="font-weight: 500;">doors</label>
          </div>
          <div class="row" style="margin-top: 3%;">
            <img src="../../../assets/images/freezer.png" class="icon-style">
            <label style="font-weight:500">&nbsp;&nbsp;Air condition</label>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <small>
          <ngb-rating [(rate)]="car.rate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
          <hr>
          <pre *ngIf="car.rate!=-1"
            style="margin-top: -10%;background-color: #bba280; text-align: center; font-size: small;color:white">Rate: <b>{{car.rate}}</b></pre>
          <pre *ngIf="car.rate===-1"
            style="margin-top: -10%;background-color: #bba280; text-align: center; font-size: small;color:white"><b>No any rates yet.</b></pre>
        </small>
      </div>
      <button *ngIf="isUserLogged" class="btn btn-md btn-rounded button-style"
        style="display: block;width: 100%;margin-top: 25%;" (click)="open(mymodal)">Rent</button>
      <a *ngIf="!isUserLogged" routerLink="/register"
        style="color: #eea136;display: block;width: 100%;margin-top: 25%;">Register and rent a car afterwards.</a>
    </div>
  </div>
</a>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Confirm reservation</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="lblStyle">Car: <span class="valueStyle"> {{car.brand}}&nbsp;{{car.model}} </span></label>
    <br>
    <label class="lblStyle">Rent a car company name: <span class="valueStyle"> {{car.companyName}}</span></label>
    <br>
    <label class="lblStyle">Pick up location: <span class="valueStyle"> {{params['pickUpLocation']}} </span></label>
    <br>
    <label class="lblStyle">Pick up date:<span class="valueStyle">
        {{params['pickUpDate']}},&nbsp;{{params['pickUpTime']}}h</span></label>
    <br>
    <label class="lblStyle">Drop off location:<span class="valueStyle"> {{params['dropOffLocation']}}</span></label>
    <br>
    <label class="lblStyle">Drop off date:<span class="valueStyle">
        {{params['dropOffDate']}},&nbsp;&nbsp;{{params['dropOffTime']}}h</span></label>
    <br>
    <label class="lblStyle">Price per day:<span class="valueStyle"> {{car.price | currency:'EUR' }}</span></label>
    <br>
    <label class="lblStyle">Total price: <span class="valueStyle">
        {{car.price*(daysBetween===0?1:daysBetween) | currency:'EUR' }}</span></label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn confirmBtnStyle"
      (click)="makeReservation();modal.close('Save click')">Confirm</button>
  </div>
</ng-template>
