
      <h5>Create reservation...</h5>
<br>
<div style="margin-left: 40%;">
        <form [formGroup]="reservationForm">
            <div class="form-group">
                <label class="lblStyle">Car: <span class="valueStyle"> {{car.brand}}&nbsp;{{car.model}} </span></label>
            </div>
            <div class="form-group">
                <label class="lblStyle">Rent a car company: <span class="valueStyle"> {{car.companyName}}</span></label>
            </div>
            <div class="form-group">
                <label class="lblStyle">Pick up location: <span class="valueStyle"> {{flight.landingLocation.location}}&nbsp; </span></label>
            </div>
            <div class="form-group">
                <label class="lblStyle">Pick up date:<span class="valueStyle">  {{flight.landingDate}}&nbsp;</span></label>
            </div>
            <div class="form-group">
                <label class="lblStyle">Drop off location:</label>
                <div class="wrap-input100" >
                    <div class="input-icons">
                         <i class="fa fa-map-marker" style="margin-top:8px; margin-left:7px" aria-hidden="true"></i>
                         <input formControlName="dropOffLocation"  class="input100"
                                [matAutocomplete]="autoGroup" type="text" name="dropOffLocation"
                                placeholder="Drop off location...">
                    </div>
                    <mat-autocomplete #autoGroup="matAutocomplete">
                      <mat-optgroup *ngFor="let group of dropOffLocationOptions | async" [label]="group.letter">
                        <mat-option *ngFor="let name of group.names" [value]="name">
                          {{name}}
                        </mat-option>
                        </mat-optgroup>
                        </mat-autocomplete>
                    <span class="invalid-input-span" *ngIf="reservationForm.get('dropOffLocation').invalid && reservationForm.get('dropOffLocation').touched">Drop off location is required</span>
                    </div>
            </div>
            <div class="row" style="width: 20%;" >
                <div class="col" >
                    <label class="lblStyle">Drop off date:</label>
                    <div class="wrap-input100" >
                        <div class="input-icons">
                            <div class="input-group" >

                                <input formControlName="dropOffDate" class="form-control input100"  placeholder="Drop off.."
                                      name="dp"  ngbDatepicker #d="ngbDatepicker" >
                                <div class="input-group-append append_style" style="margin-left: -10px;padding-left: 10px;" >
                                    <button class="btn calendar"  (click)="d.toggle()" type="button"></button>
                                </div>
                                <i class="fa fa-calendar" aria-hidden="true" ></i>
                            </div>
                        </div>
                    </div>
                    <span class="invalid-input-span" *ngIf="reservationForm.get('dropOffDate').invalid && reservationForm.get('dropOffDate').touched">This field is required</span>
                </div>
            </div>
        </form>
</div>
    <br>
      <button type="button" class="btn confirmBtnStyle" style="margin-left: 40%;" [disabled]="reservationForm.invalid" (click)="createReservation(); open(content); " >Confirm</button>


<ng-template #content let-modal>
    <div class="modal-header">
      <h6 class="modal-title header" id="modal-basic-title">Reservation details...</h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img src={{company.image}} style="width: 100%; height: 150px;">
      <!-- <h6 class="lblStyle header" style="text-align: center;">Airline: <span class="valueStyle text"> {{company.name}}</span></h6> -->
      <br>
      <!-- <label class="lblStyle">Plane: <span class="valueStyle"> {{flight.plane}}</span></label>
          <br>  -->
      <div style="display: inline;">
        <div style="display: inline-block; width: 50%; align-self: center;">
          <h6 class="modal-title header" id="modal-basic-title">Departure:</h6>
          <br>
          <label class="lblStyle header">Airport: <span class="valueStyle text"> {{flight.takeOffLocation.code}}&nbsp;
            </span></label><br>
          <label class="lblStyle header">Date: <span class="valueStyle text"> {{flight.takeOffDate}}&nbsp;
            </span></label><br>
          <label class="lblStyle header">Time: <span class="valueStyle text"> {{flight.takeOffTime}}h &nbsp;
            </span></label>

        </div>
        <div style="display: inline-block; width: 50%; align-self: center;">
          <h6 class="modal-title header" id="modal-basic-title">Landing:</h6>
          <br>
          <label class="lblStyle header">Airport: <span class="valueStyle text"> {{flight.landingLocation.code}}&nbsp;
            </span></label><br>
          <label class="lblStyle header">Date: <span class="valueStyle text"> {{flight.landingDate}}&nbsp;
            </span></label><br>
          <label class="lblStyle header">Time: <span class="valueStyle text"> {{flight.landingTime}}h&nbsp;
            </span></label>

        </div>
      </div>
      <br>
      <br>
      <h6 class="modal-title header" id="modal-basic-title">Passengers:</h6>
      <br>
      <div *ngFor="let passenger of flightReservation.passengers">
        <label class="lblStyle header">First name: <span class="valueStyle text"> {{passenger.firstName}}&nbsp;
          </span></label>
        <br>
        <label class="lblStyle header">Last name: <span class="valueStyle text"> {{passenger.lastName}}&nbsp;
          </span></label>
        <br>
        <label class="lblStyle header">Passport number: <span class="valueStyle text">
            {{passenger.passport}}&nbsp; </span></label>
        <br>
        <label class="lblStyle header">Seat: <span class="valueStyle text"> {{passenger.seats}}&nbsp; </span></label>

        <hr>
      </div>

      <div *ngIf="flightReservation.carReservation!==undefined">
        <h6 class="modal-title header" id="modal-basic-title">Cars rented:</h6>
        <br>
        <div >
          <label class="lblStyle header">Rental company: <span class="valueStyle text"> {{rentalCompany.name}}
               </span></label>
          <br>
          <label class="lblStyle header">Address: <span class="valueStyle text"> {{rentalCompany.address}}
               </span></label>
          <br>
          <label class="lblStyle header">Car: <span class="valueStyle text">
              {{flightReservation.carReservation.carModel}} &nbsp; </span></label>
          <br>
          <label class="lblStyle header">Pick up: <span class="valueStyle text">
              {{flightReservation.carReservation.pickUpDate}} &nbsp; {{flightReservation.carReservation.pickUpTime}}h
            </span></label>
          <br>
          <label class="lblStyle header">Drop off: <span class="valueStyle text">
              {{flightReservation.carReservation.dropOffDate}} &nbsp;
              {{flightReservation.carReservation.dropOffTime}}h </span></label>
          <br>
        </div>
      </div>

      <br>
      <div style="display: inline-block; width: 50%; align-self: center;">
        <h6 class="modal-title header" id="modal-basic-title">Total price:</h6>
        <span class="valueStyle text"> {{flightReservation.totalPrice | currency:'EUR'}}&nbsp; </span>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn confirmBtnStyle" (click)="abortReservation(); modal.close('Quit click');">Quit reservation</button>
      <button type="button" class="btn confirmBtnStyle" (click)="modal.close('Save click'); saveReservation()">Confirm reservation</button>
    </div>

  </ng-template>
