<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
  </ng-template>

  <a  class="list-group-item list-group-item-action flex-column align-items-start"
      routerLink='/airlineProfile/{{airline.id}}'>
    <div class="row">
      <div class="col-md-3">
        <img src={{airline.image}} style="width: 100%;height:140px">
      </div>
      <div class="col">
          <h5 class="mb-1 my-h5-style">{{airline.name}}</h5>
        <div class="row" >
          <div class="col-sm-2">
            <img src="../../../assets/images/mapp.png" style="width: 100%;height: 100%;">
          </div>
          <div class="col">
          <p class="mb-1" style="margin-left:-8px;margin-top: 10px;">{{airline.getAddress()}}</p>
        </div>
        </div>
        <br>
          <p class="mb-1 my-p-style">{{airline.description}}</p>
      </div>
      <div class="col-sm-3">
        <small style="height: 30px;">
          <ngb-rating [(rate)]="airline.rate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
          <hr>
          <pre *ngIf="airline.rate!=-1">Rate: <b>{{airline.rate}}</b></pre>
          <pre *ngIf="airline.rate===-1" style="color: orange;"><b>No any rates yet</b></pre>
        </small>
      </div>
    </div>
  </a>
