#wrapper{
    height:auto; 
    width:100%;
    text-align: center;
}
#inner1{
    width: 100%;
    float:left; 
}
#inner2{
    margin-top: 6.9%;
    float:left; 
    margin-left: 10%;
    width: 81.4%;
} 
