 <div class="container">
  <div class="row" style="width: 90%;margin-left: 5%; margin-top: 3%;">
    <ul class="list-group" *ngFor="let item of items |keyvalue ; let i = index"
      style="margin-bottom: 2%;width: 33.33333%;padding: 0%;margin: 0%">
      <div class="col">
        <li class="list-group-item li-style">
          <button type="button" class="btn myBtn" (click)="onClick(i)" [attr.aria-expanded]="!isCollapsed[i]"
            style="width: 100%;">
            {{item.key}}&nbsp;&nbsp;
            <span class="badge badge-warning badge-pill">{{item.value.length}}</span>
          </button>
        </li>
        <div id="{{i}}" [ngbCollapse]="isCollapsed[i]">
          <div class="card">
            <div class="card-body" style="padding: 0%;border: transparent;">
              <ul class="list-group" *ngFor="let place of item.value; let y=index" style="border: transparent;">
                <li class="list-group-item " style="padding: 2%;">
                  <div class="row" *ngIf="isCarCompany">
                    <div class="col" *ngIf="!isCarCompanyEdit">
                      <img src="{{images[place.city]}}" style="width: 100%;height:100%;">
                    </div>
                    <div class="col" style="margin-right: 5%;margin-left: 5%;">
                      <div class="row">{{place.street}} {{place.number}},{{place.city}}</div>
                      <div class="row" *ngIf="!isCarCompanyEdit"><button class="map-small"
                          (click)="changeMap(place)">Show on map</button></div>
                    </div>
                    <div class="col-sm-2" style="margin-right: 5%;" *ngIf="isCarCompanyEdit">
                      <button type="button" class="delete-button"  title="Remove this office" (click)="removeOffice(place)"></button>
                    </div>
                  </div>

                  <div class="row" *ngIf="!isCarCompany">
                    <div class="col" >
                      <img src="{{images[place.city]}}" style="width: 100%;height:100%;margin-right: 1%;">
                    </div>
                    <div class="col">
                      {{place.city}}, {{place.country}}
                    </div>
                    <div class="col-sm-2" style="margin-right: 5%;" *ngIf="isAirlineCompanyEdit">
                      <button type="button" class="delete-button"  title="Remove this destination" (click)="removeDestination(place)"></button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>



