<div class="container fill_height" >
    <div class="search_tabs_container">
        <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start" (click)="onFirstItemClick()" ><img src={{iconFirst}} style="width:40px;height:40px" alt="">{{navbarFirst}}</div>
            <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start" (click)="onSecondItemClick()"><img src={{iconSecond}} alt="">{{navbarSecond}}</div>
            <!-- <div *ngIf="!hideThird" class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start" (click)="onThirdItemClick()"> <img src={{iconThird}} alt="" style="width: 15%; height:40%;">{{navbarThird}}</div> -->
        </div>
    </div>
</div>

