<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>

<div style="width: 100%;" >
  <div class=" sticky-top " style=" width: 100%; background-color:#e3cff3;opacity: 0.7;">
    <app-profile-navbar [company]="navItemInfo" style="width: 100%;"></app-profile-navbar>
  </div>
  <br>
  <div class="d-flex justify-content-center">
    <img src="{{carCompany.logo}}" width="240px" height="100px">
  </div>

  <div class="d-flex justify-content-between" style="margin-left:20%;margin-top: 3%;width: 60%;">
    <div>
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <span>&nbsp;&nbsp;&nbsp;{{carCompany.address.toString()}}</span>
  </div>
      <div>
      <ngb-rating [(rate)]="carCompany.rate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
      <hr style="margin-top: 0%;">
      <pre style="margin-top: 0%;">Rate: <b>{{carCompany.rate}}</b></pre>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <p >{{carCompany.description}}</p>
  </div>

  <div style="background-color: whitesmoke; padding-bottom: 2%; margin-top: 2%;">
    <h4>We have offices all around the world</h4>
    <app-profile-offices [items]="carCompany.offices"></app-profile-offices>
  </div>

  <div class="d-flex justify-content-center" style="margin-top: 5%;">
    <h4>Check our cars</h4>
  </div>
  <div class="d-flex justify-content-center" style="margin-top: 2%;background-color: whitesmoke;">
    <app-cars-search-form style="margin-bottom: 2%;" [companyID]="carCompany.id" ></app-cars-search-form>
  </div>

  <div class="d-flex justify-content-center" style="margin-top: 2%;">
    <app-cars-cards [cars]="carCompany.cars"></app-cars-cards>
  </div>

</div>


