div-body-style{
  padding-right: 0 !important;
}


h4{
  /* padding-top: 2%; */
  margin-bottom: 3%;
  font-family: Poppins-Bold;
  font-size: 22px;
  text-align: center;
  color:rgb(75, 74, 74);
  margin-top: 0%;
}

.my-heading-div{
  background-color: whitesmoke;
  padding-bottom: 1%;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
   z-index: 20;
}


.carousel-control-next {
   z-index: 20;
}


.carousel-indicators{
  z-index: 20;
}

.icon-style{
  width: 16%;
  height: 16%;
  margin-top: 5%;
}

.label-style{
  font-size: smaller;
  font-weight: 500;
}

.price{
  margin-top: -10%;
  text-align: center;
  font-weight: bolder;
  color:#31124b;
  font-size: medium;
}

.button-style{
  background-color:  #fa871b;
  color: white;
  border-color: #fa871b;
}

.button-style:hover {
  opacity: 0.8;
  color:  #31124b;
  font-weight: 600;
}
.h-style{
  width:100% !important;
  text-align: center !important;
  font-size:18px;
}

.main-image-style{

  height: 120px;
}



.c1 {
  position: relative;
}

/* Top right text */
.text-block {
  position: absolute;
  top:1px;
  right: 5px;
  background-color: #eea136;
  opacity: 0.8;
  border-radius: 18px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  height: 25%;
  align-content: center;
}

.lbl-style{
  display: block;
  font-family: Poppins-Medium;
}

.valueStyle{
  font-weight: bold;
  padding-left: 3px;
}


.confirmBtnStyle{

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 180px;
    height: 50px;

    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    background: #31124b;

    border-width: 0cm;
    border-radius: 10px;
  }

  .confirmBtnStyle:hover:enabled
  {
    opacity: 0.8;
    color: #fa9e1c;

  }

  .modal-input{
    border-radius: 5px;
    margin-left: 6%;
    border-color: #7e4596;
  }

  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color:#eea136 ;
    color: white;
  }
  .custom-day.faded {
    background-color: #eea136; opacity: 0.5;
  }

  .delete-btn{

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 100px;
    height: 40px;

    font-family: Poppins-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    background: #31124b;

    border-width: 0cm;
    border-radius: 10px;
  }

  .delete-btn:hover
  {
    opacity: 0.8;
  }
