<div class="div-body-style" id='container'>
<div class="my-heading-div">
  <div class="d-flex justify-content-end">
  <button class="btn  btn-md btn-rounded button-style" style="display: block;width: 15%; margin-top: 1%; margin-right: 3%;"
          routerLink='/addCar'>Add new car</button>
  </div>
  <h4>Cars</h4>
</div>
<div class="container" style="margin-top: 3%;">
  <div class="row" style="width: 70%;margin-left: 15%;">
    <div *ngFor="let car of cars; index as i" style="width: 25%;">
      <div class="card " style="width: 100%; height: 100%;">
        <div class="container c1">
          <img class="card-img-top main-image-style" [src]="car.image" alt="My image {{i + 1}} description">
          <div class="text-block">
            <p *ngIf="car.rate!=-1" style="margin-top:-25%">{{car.rate}}</p>
            <p *ngIf="car.rate===-1" style="margin-top:-5%">No any rates yet.</p>
          </div>
        </div>

        <div class="card-body" style="margin-top: -10%;">
          <h4 class="card-title font-weight-bold h-style">{{car.brand}}&nbsp;{{car.model}}</h4>
          <div class="row justify-content-center">
            <div class="col">
              <div class="row">
                <img src="../../../assets/images/team.png" class="icon-style">
                <label class="label-style"
                  style="font-size: 12px;">&nbsp;&nbsp;{{car.maxPassengers}}&nbsp;passengers</label>
              </div>
              <div class="row">
                <img src="../../../assets/images/gearshift.png" class="icon-style">
                <label *ngIf="car.hasAutomaticGearbox" class="label-style"> &nbsp;&nbsp;A&nbsp;&nbsp;gearbox</label>
                <label *ngIf="!car.hasAutomaticGearbox" class="label-style"> &nbsp;&nbsp;M&nbsp;&nbsp;gearbox</label>
              </div>
            </div>

            <div class="col" style="align-content: center;">
              <div class="row" style="justify-content: center;">
                <img src="../../../assets/images/car-door.png" class="icon-style">
                <label class="label-style" style="font-weight:500">&nbsp;&nbsp;{{car.doors}}&nbsp;&nbsp;doors</label>
              </div>
              <div class="row" style="margin-top: 3%;" *ngIf="car.hasAirCondition">
                <img src="../../../assets/images/freezer.png" class="icon-style">
                <label class="label-style">&nbsp;&nbsp;Air condition</label>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <p style="margin-top: 8px;font-size: smaller;">Price: <b>{{car.pricePerDay | currency:'EUR'}}</b> </p>
          </div>
          <button class="btn  btn-md btn-rounded button-style" style="display: block;width: 100%;"
            (click)="openChangePrice(changePriceModal) ; currentCar=car">Change price</button>
          <button class="btn  btn-md btn-rounded button-style" style="display: block;width: 100%; margin-top: 1%;"
            (click)="openAddDiscount(addDiscountModal) ; currentCar=car">Add discount</button>
          <button class="btn  btn-md btn-rounded button-style" style="display: block;width: 100%; margin-top: 1%;"
          (click)="openDeleteCar(deleteCarModal) ; currentCar=car">Delete car</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<ng-template #changePriceModal let-modal [formGroup]="changePriceForm">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title-cpm">Change price for {{currentCar.brand}}&nbsp;{{currentCar.model}}
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="lblStyle">Current price: <span class="valueStyle">
        {{currentCar.pricePerDay| currency:'EUR'}}</span></label>
    <br>
    <br>
    <label class="lblStyle">New price: </label>
    <input class="modal-input" formControlName="newPrice" type="number">
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="changePriceForm.invalid" class="btn confirmBtnStyle"
      (click)="modal.close('Save click'); changePrice()">Confirm</button>
  </div>
</ng-template>

<ng-template #addDiscountModal let-modal [formGroup]="addDiscountForm">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title-adm">Add discount for {{currentCar.brand}}&nbsp;{{currentCar.model}}
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="lblStyle">Discount (%) : </label>
    <input class="modal-input" formControlName="discount" type="number">
    <pre  class="lblStyle">Price without discount: {{currentCar.pricePerDay|currency:'EUR' }} </pre>
    <pre *ngIf="addDiscountForm.valid" class="lblStyle">Price with discount: {{getDiscountPrice()|currency:'EUR' }} </pre>
    <br>
    <label class="lblStyle"><b>Select dates for discount :</b> </label>
    <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
      outsideDays="hidden">
    </ngb-datepicker>

    <ng-template #t let-date let-focused="focused">
      <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template>

    <hr>
    <div class="d-flex justify-content-center">
        <b style="font-size: 14px;">From:&nbsp;</b>
      <pre *ngIf="fromDate!=null"> {{fromDate.day}}/{{fromDate.month}}/{{fromDate.year}}&nbsp;</pre>
      <b style="font-size: 14px;">&nbsp;&nbsp;&nbsp;To:&nbsp;</b>
      <pre *ngIf="toDate!=null"> {{toDate.day}}/{{toDate.month}}/{{toDate.year}}</pre>
  </div>


    <div class="modal-footer">
      <button type="button" [disabled]="addDiscountForm.invalid || !selectedDates" class="btn confirmBtnStyle"
        (click)="modal.close('Save click'); addDiscount()">Confirm</button>
    </div>
  </div>
</ng-template>

<ng-template #deleteCarModal let-modal>
  <div class="modal-header" >
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex align-content-center">
    <label class="lblStyle"><b>Are you sure you want to delete {{currentCar.brand}}&nbsp;{{currentCar.model}}?</b></label>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn delete-btn"
      (click)="deleteCar();modal.close('Confirm click') ">Confirm</button>
      <button type="button"  class="btn delete-btn"
      (click)="modal.close('Cancel click')">Cancel</button>
  </div>
</ng-template>
