
<form [formGroup]="searchForm" (ngSubmit)=onSubmitForm()>
  <div class="row" style="margin-top: 5%;margin-bottom: 5%;">
<div class="col">
  <input formControlName="name" class="input100" type="text" placeholder="Name..">
</div>
<div class="col">
  <input formControlName="address" class="input100" type="text" placeholder="Address.." [matAutocomplete] ="autoGroup">
  <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-option *ngFor="let name of locationOptions|async" [value]="name">
        {{name}}
      </mat-option>
      </mat-autocomplete>
</div>
<div class="col">
    <div class="input-icons">
      <input formControlName="rate" class="input100" type="number" placeholder="Minimal rate..">
      <i *ngIf="searchForm.get('rate').invalid && searchForm.get('rate').touched" class="fa fa-exclamation"></i>
    </div>
   <span class="invalid-input-span" *ngIf="searchForm.get('rate').invalid && searchForm.get('rate').touched">Rate must be number between 1 and 5</span>
</div>

<div class="col" >
      <button class="search_button"[disabled]="searchForm.invalid">Search</button>

</div>

<div class="col" >
  <div class="row">
    <div class="col" style="padding: 0%;margin-left: -10%;">
  <i class="fa fa-sort-alpha-asc"  aria-hidden="true"></i>
</div>
<div class="col" style="margin-right: 0%; margin-left: -95%;">
  <select class="form-control select100" (change)=onChangeSort($event.target.value)>
    <option style=" color: #31124b; " value="Sort by" selected hidden >Sort by...</option>
    <option style=" color: #31124b; " value="name">Name</option>
    <option style=" color: #31124b; " value="city">City</option>
    <option style=" color: #31124b; " value="rate">Rate</option>
  </select>
</div>
</div>
</div>
</div>
</form>
