

.input100 {
  width: 100%;
  padding-left: 25px;
  text-align: left;
  display: inline-block;
  height: 35px;
  background-color: white;
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #555555;
  line-height: 1.2;
  border: 1px solid #555555;
  border-radius: 10px;
}


button:disabled{
  background-color: lightgrey;
}

.container-login100-form-btn {
  width: 100%;
  margin-left: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
   display: flex;
  flex-wrap: wrap;

}

.wrap-input100 {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  margin-top: 5%;
}

.wrap-login100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
}


.login100-form-bgbtn {
  position: absolute;
  width: 100%;
  height: 300%;
  bottom: -100%;
  left: 0;

  background: linear-gradient(to right, #eea136, #7e4596, #f0a63f);
	z-index: -1;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;

}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  bottom: 0;
}

.search_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 40%;
  height: 35px;
  vertical-align: middle;
  /* margin-top:3%; */

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  /* background: #31124b; */
  background: linear-gradient(to right, #eea136, #7e4596, #f0a63f);

  border-width: 0cm;
  border-radius: 10px;
}
.search_button:hover
{
	opacity: 0.8;
}

.search_button:disabled{
  background: lightgray;
}

.invalid-input-span{
  font-size: 12px;
  color:  red;
  position: absolute;
  margin-top:2%;
}


i{
  margin-top: 3%;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  color: red;

}

.icon {
  padding: 10px;
  text-align: center;
  width: 20px;
  height: 20px;

}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.select100 {
  width: 80%;
  padding-left: 25px;
  text-align: left;
  display: inline-block;
  height: 35px;
  background-color: white;
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #555555;
  line-height: 1.2;
  border: 1px solid #555555;
  border-radius: 10px;
}


