<div class="box small">
    <img src="../../../assets/images/friends.jpeg" style="width:100%; height: 400px;"> 
</div>

<div style="margin-left: 15%; margin-top: 2%;"> 
<div style="float: left; font-weight: bolder; color: #31124b; ">Add friends:</div>     
<ng-select bindLabel="name" style="width: 50%; text-align: center; float: left;"
                placeholder="Select user to send request..."
                appendTo="body"
                [searchable]="true" 
                [(ngModel)]="selected">
                <ng-option [value]="item.userID" *ngFor="let item of users">
                    {{item.getName()}}
                </ng-option>
    </ng-select>   
    <button (click)="sendRequests()" [disabled]="selected===undefined" style="float: left;" class="btn  btn-md btn-rounded button-style"> 
      Send friend request
    </button>
  </div>

  
 

<div class="container" style="display: inline;">
  <div style="display: block; text-align: start; margin-top: 2%; margin-left: 7%;">
      <div class="form-inline active-cyan-2">Search your friends:
        <input class="form-control form-control-sm mr-3 w-75" [(ngModel)]="filterUser" type="text" placeholder="Search..."
          aria-label="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
      <table class="table" matSort (matSortChange)="sortData($event)" style="margin-top: 2%;">
        <thead class="thead">
          <tr>
            <th scope="col" style="width: 20%;"> </th>
            <th scope="col" mat-sort-header="firstName" style="width: 30%;">First Name</th>
            <th scope="col" mat-sort-header="lastName" style="width: 30%;">Last Name</th>
            <th scope="col" style="width: 20%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortedData | search:filterUser" >
            <td style="text-align: center; vertical-align: middle;"> 
              <img src="../../../assets/images/{{data.profileImage}}" style="width: 30px; height: 30px; border-radius: 50%;">
            </td>
            <td style="vertical-align: middle;">{{data.firstName}}</td>
            <td style="vertical-align: middle;">{{data.lastName}}<i class="fa fa-trash-alt"></i></td>
            <td style="text-align: center; vertical-align: middle;">
                <div class="button" (click)="removeUser(data)" style="cursor: pointer; "><img src="../../../assets/images/rubbish.png" style="width: 20px; height: 20px;"></div>
            </td>
          </tr>
        </tbody>
      </table>
</div>


