nav{
	height: 10%;
  background-color: #31124b;
  z-index: 2000 !important;
}

nav a {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: white;
	font-weight: 700;
	font-size: x-large;
	cursor: pointer;
}

nav span{
	vertical-align: bottom;
}

nav ul li a {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	font-size: small;
	cursor: pointer;
}

.slika:hover{
	color: #fa9e1c;
}

 .dugme{
	background-color: #31124b;
	color: white;
	border: none;
	border-radius: 8px;
}

.popoverClass{
	width:30%;
	background-color: #e3cff3;
}

td button:hover{
	color: #fa9e1c;;
}

nav ul li a:hover {
	color: #fa9e1c;
}

ul li a span{
	text-align: bottom;
}

li div{
	background-color: #31124b;
	border: 0px;
}

li div a:hover{
	background-color: rgba(255, 255, 255, 0.3);
}


li a[area-expanded="true"]{
	color: #fa9e1c;
}



