<header class="header">
		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<a routerLink="/" style="cursor: pointer;">
							<div class="logo_container footer_logo">
								<div class="logo">	
									<a ><img src="../../assets/images/logo.png" alt=""></a>
							  </div>
						  </div>
						  <div class="logo_name">travellix</div>
						</a>
						<div class="user_box ml-auto">
              				<div class="user_box_login user_box_link" ><a routerLink="/login" style="cursor: pointer;">login</a></div>
							<div class="user_box_register user_box_link" ><a routerLink="/register" style="cursor: pointer;">register</a></div>
						</div>
					</div>
				</div>
			</div>
    	</div>
	  </header>  

	