
<nav class="navbar navbar-expand-md">
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" routerLink='/'><img src="../../assets/images/logo.png" alt="">
      <span> TRAVELLIX</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="nav-link" routerLink="/login"><span>LOGIN</span></a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="nav-link" routerLink="/register"><span>REGISTER</span></a>
      </li>
      <li class="nav-item" *ngIf="loggedIn && userRole==='USER'">
        <div class="list-group-item d-flex justify-content-between align-items-center" style="cursor: pointer;"
          placement="bottom" [ngbPopover]="requests" data-container="body" data-toggle="popover" data-placement="bottom"
          data-content="requests" popoverClass="popoverClass" >
          <span class="slika" style="color:white; font-size:large;">
            <i class="fa fa-users"></i>
          </span>
          <span class="badge badge-pill"
            style="background-color: #fa9e1c; color: white;">{{invitations.length}}</span>
        </div>


      </li>

      <ng-template #requests style="background-color: #e3cff3;">
        <div *ngIf="invitations.length===0" style="background-color: white; color: #31124b; font-weight: bolder;">
          There are no friend requests!
        </div>
         <tr *ngFor="let friend of invitations" style="width: 30%;">
          <td>
            <img src={{friend.profileImage}} style="width: 30px; height:30px; ">
          </td>&nbsp;
          <td style="font-size: larger; color: #31124b; vertical-align: middle; ">
            {{friend.getName()}} </td>
          &nbsp;
          <td style="vertical-align: middle;">
            <button (click)="onAccept(friend)" class="dugme">Accept</button>
          </td>
          <td style="vertical-align: middle;">
            <button (click)="onDecline(friend)" class="dugme">Decline</button>
          </td>
        </tr> 
      </ng-template>
      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right" *ngIf="loggedIn">
        <a class="nav-link" style="cursor: pointer;margin-top: 9%;" ngbDropdownToggle id="navbarDropdown3" role="button"
          aria-expanded="false">
          {{userName}}
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
          <a ngbDropdownItem routerLink="/user/profile">Profile</a>
          <a *ngIf="userRole==='USER'" ngbDropdownItem routerLink="/user/reservations/car-reservations">My
            reservations</a>
          <a *ngIf="userRole==='USER'" ngbDropdownItem routerLink="/user/friends">Friends</a>

          <a *ngIf="userRole==='ADMINISTRATOR'" ngbDropdownItem routerLink="/rent-car-admins">Rent car admins</a>
          <a *ngIf="userRole==='ADMINISTRATOR'" ngbDropdownItem routerLink="/airline-admins">Airline admins</a>

          <a *ngIf="userRole==='RENTCARADMIN'" ngbDropdownItem routerLink="/company-data/edit-main-data">Company data and offices</a>
          <a *ngIf="userRole==='RENTCARADMIN'" ngbDropdownItem routerLink="/companyCars">Cars</a>

          <a *ngIf="userRole==='AIRLINEADMIN'" ngbDropdownItem routerLink="/airline-company-data/edit-airline-main-data">Company data and destinations</a>

          <hr style="border: 1px solid rgba(255, 255, 255, 0.3);">
          <a ngbDropdownItem href="#" (click)="onLogout()">Sign out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
