<div class="super_container">
	<header class="header">
		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
            <div class="logo_container footer_logo">
              <div class="logo"><a href="#"><img src="../../assets/images/logo.png" alt=""></a></div>
            </div><div class="logo_name">travellix</div>
						<div class="user_box ml-auto">
              <div class="user_box_login user_box_link"><a href="#">login</a></div>
							<div class="user_box_register user_box_link"><a href="#">register</a></div>
						</div>
					</div>
				</div>
			</div>
    </div>
  </header>
  <app-carousel></app-carousel>
</div>
