
<form [formGroup]="searchForm" (ngSubmit)=onSubmitForm()>
  <div class="row" style="margin-top: 5%;margin-bottom: 5%;">
<div class="col">
  <input formControlName="name" class="input100" type="text" placeholder="Name..">
</div>
<div class="col">
  <input formControlName="address" class="input100" type="text" placeholder="Address..">
</div>
<div class="col">
    <div class="input-icons">
      <input formControlName="rate" class="input100" type="number" placeholder="Minimal rate..">
      <i *ngIf="searchForm.get('rate').invalid && searchForm.get('rate').touched" class="fa fa-exclamation"></i>
    </div>
   <span class="invalid-input-span" *ngIf="searchForm.get('rate').invalid && searchForm.get('rate').touched">Rate must be number between 1 and 5</span>
</div>

<div class="col" >
      <button class="search_button"[disabled]="searchForm.invalid">Search</button>
</div>
</div>
</form>
