<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>


 <div class="container">
  <div class="row" style="width: 70%;margin-left: 15%;"  >
    <div *ngFor="let car of cars; index as i" style="width: 25%;">
      <div class="card " style="width: 100%; height: 100%;">
        <div class="container c1">
          <img class="card-img-top main-image-style" [src]="car.images[0]" alt="My image {{i + 1}} description">
          <div class="text-block">
            <p>{{car.rate}}</p>
          </div>
        </div>

        <div class="card-body">
          <h4 class="card-title font-weight-bold h-style" >{{car.brand}}&nbsp;{{car.model}}</h4>
            <div class="row justify-content-center">
              <div class="col" >
                <div class="row" >
                  <img src="../../../assets/images/team.png" class="icon-style">
                  <label  class="label-style" >&nbsp;&nbsp;{{car.maxPassengers}}&nbsp;passengers</label>
                </div>
                <div class="row">
                  <img src="../../../assets/images/gearshift.png" class="icon-style">
                  <label *ngIf="car.hasAutomaticGearbox"  class="label-style" > &nbsp;&nbsp;A&nbsp;&nbsp;gearbox</label>
                  <label  *ngIf="!car.hasAutomaticGearbox"  class="label-style" > &nbsp;&nbsp;M&nbsp;&nbsp;gearbox</label>
                </div>
               </div>

              <div class="col" style="align-content: center;">
                <div class="row" style="justify-content: center;">
                  <img src="../../../assets/images/car-door.png" class="icon-style">
                  <label class="label-style" style="font-weight:500">&nbsp;&nbsp;{{car.doors}}&nbsp;&nbsp;doors</label>
                </div>
                <div class="row" style="margin-top: 3%;" *ngIf="car.hasAirCondition">
                  <img src="../../../assets/images/freezer.png" class="icon-style">
                  <label class="label-style" >&nbsp;&nbsp;Air condition</label>
                </div>
              </div>
            </div>
          <div  class="d-flex justify-content-center">
            <ngb-rating [(rate)]="car.rate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
          </div>
          <p style="text-align: center;margin-top: 10px;font-size: smaller;" >price from</p>
          <p class="price">{{car.pricePerDay | currency:'EUR'}}</p>
          <button class="btn  btn-md btn-rounded button-style" style="display: block;width: 100%;" >Rent</button>
        </div>
      </div>
    </div>
  </div>
  </div>
