

.input100 {
    width: 100%;
    padding-left: 25px;
    text-align: left;
    display: inline-block;
    height: 35px;
    background-color: white;
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #555555;
    line-height: 1.2;
    border: 1px solid #555555;
    border-radius: 10px;
  }
  
  .label-input100 {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: #999999;
    line-height: 1.2;
    padding-left: 2px;
  }
  
  .container-login100-form-btn {
    width: 100%;
    margin-left: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
     display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-items: center; */
  
  }
  
  .wrap-login100-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
  }
  
  
  .login100-form-bgbtn {
    position: absolute;
    width: 100%;
    height: 300%;
    bottom: -100%;
    left: 0;
  
    background: linear-gradient(to right, #eea136, #7e4596, #f0a63f);
      z-index: -1;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -ms-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      transition: all 400ms ease;
  
  }
  
  .login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 244px;
    height: 50px;
  
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  }
  
  .wrap-login100-form-btn:hover .login100-form-bgbtn {
    bottom: 0;
  }
  
  .search_button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 40%;
    height: 50px;
    margin-top:3%;
  
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    background: #31124b;
  
    border-width: 0cm;
    border-radius: 10px;
  }
  .search_button:hover
  {
      opacity: 0.8;
  }
  
  
  .select100 {
    width: 80%;
    padding-left: 25px;
    text-align: left;
    display: inline-block;
    height: 35px;
    background-color: white;
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #555555;
    line-height: 1.2;
    border: 1px solid transparent;
    border-radius: 10px;
  }
  