<body style="background-color: #999999;">

	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('../../assets/images/bg-01.jpg');"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form" [formGroup]="registerForm">
					<span class="login100-form-title p-b-59">
						Registration
					</span>

					<div class="wrap-input100 validate-input" >
						<span class="label-input100">First Name</span>
						<input formControlName="firstName" class="input100" type="text" name="firstName" placeholder="First name...">
						<span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" >
						<span class="label-input100">Last Name</span>
						<input formControlName="lastName" class="input100" type="text" name="lastName" placeholder="Last name...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" >
						<span class="label-input100">Username</span>
						<input formControlName="username" class="input100" type="text" name="username" placeholder="Username...">
						<span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" >
						<span class="label-input100">Email</span>
						<input formControlName="email" class="input100" type="text" name="email" placeholder="Email address...">
						<span class="focus-input100"></span>
					</div>

          <div formGroupName="passwordData">
					<div class="wrap-input100 validate-input" >
						<span class="label-input100">Password</span>
						<input formControlName="password" class="input100" type="text" name="pass" placeholder="*************">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" >
						<span class="label-input100">Confirm Password</span>
						<input formControlName="confirm" class="input100" type="text" name="confirm-pass" placeholder="*************">
						<span class="focus-input100"></span>
          </div>
        </div>
          <div class="wrap-input100 validate-input" >
						<span class="label-input100">City/Town</span>
						<input formControlName="city" class="input100" type="text" name="city" placeholder="City/Town..">
						<span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" >
						<span class="label-input100">Phone number</span>
						<input formControlName="phone" class="input100" type="text" name="phone-num" placeholder="Phone number">
						<span class="focus-input100"></span>
          </div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" [disabled]="registerForm.invalid" >
								Register
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
