<div class="row" style="width: 100%;">
  <h3 style="width: 100%;">TRAVELLIX overview</h3>
</div>
<div class="row" style="width: 80%;margin-left: 10%;margin-top: 7%;margin-bottom: 10%;">
  <div class="col">
    <app-admin-home-counter-card [image]="firstImage" [countTo]="firstCounter" [text]="firstString"></app-admin-home-counter-card>
  </div>
  <div class="col">
    <app-admin-home-counter-card [image]="secondImage" [countTo]="secondCounter" [text]="secondString"></app-admin-home-counter-card>
  </div>
  <div class="col">
    <app-admin-home-counter-card [image]="thirdImage" [countTo]="thirdCounter" [text]="thirdString"></app-admin-home-counter-card>
  </div>
  <div class="col">
    <app-admin-home-counter-card [image]="fourthImage" [countTo]="fourthCounter" [text]="fourthString"></app-admin-home-counter-card>
  </div>
</div>
<!-- <div class="col" >
    <img class="img-style"  src="../assets/images/adminHome/valet-parking.png">
    <div class="milestone_counter"><animated-digit [digit]="83" [duration]="1000" #oneitem></animated-digit></div>
    <h6 >Car reservations</h6>
  </div>
  <div class="col" >
    <img class="img-style" src="../assets/images/adminHome/boarding-pass.png">
    <div class="milestone_counter" ><animated-digit [digit]="83" [duration]="1000" #seconditem></animated-digit></div>
    <h6 >Flight reservations</h6>
  </div>

  <div class="col">
    <img class="img-style"   src="../assets/images/adminHome/car.png">
    <div class="milestone_counter" ><animated-digit [digit]="83" [duration]="1000"></animated-digit></div>
    <h6 >Rent car companies</h6>
  </div> -
  <div class="col">
    <img class="img-style"  src="../assets/images/adminHome/airline (1).png">
    <div class="milestone_counter" ><animated-digit [digit]="83" [duration]="1000"></animated-digit></div>
    <h6 >Airline companies</h6>
  </div> -->
